{% load static %}
{% include 'private/header.html' %}

<div class="container">

    <div class="page-inner">
        
        <a href="{% url 'registrar_venta' %}" class="btn border mt-3">Registrar Nueva Venta</a>
    </div>
    <div class="page-inner">


        <table id="myTable" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Cliente</th>        <!-- Nueva columna -->
            <th>Vendedor</th>       <!-- Nueva columna -->
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.id }}</td>
            
            <!-- Cliente -->
            <td>
                {% if venta.cliente %}
                    {{ venta.cliente.nombre }} {{ venta.cliente.apellido }}
                {% else %}
                    <span class="text-muted">Cliente General</span>
                {% endif %}
            </td>

            <!-- Vendedor / Empleado -->
            <td>
                {% if venta.empleado %}
                    {{ venta.empleado.nombre_empleado }} {{ venta.empleado.apellido_empleado }}
                {% else %}
                    <span class="text-muted">Sin empleado</span>
                {% endif %}
            </td>

            <td>{{ venta.fecha_venta|date:"d/m/Y H:i" }}</td>
            <td>${{ venta.total_venta }}</td>
            <td>
                {% if venta.estado_venta == 'PAGADA' %}
                <span class="badge badge-success">{{ venta.estado_venta }}</span>
                {% else %}
                <span class="badge badge-warning">{{ venta.estado_venta }}</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'detalle_venta' venta.id %}" class="btn btn-info btn-sm">Ver detalles</a>
                <a href="{% url 'eliminar_venta' venta.id %}" class="btn btn-danger btn-sm"
                    onclick="confirmarEliminacion(event, this.href)">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>

</div>


{% include 'private/footer.html' %}
<script>
    const table = new DataTable('#myTable', {
	// Configuration options
});
</script>